body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(47, 88%, 63%);
}
.img{
  border-radius: 0.5rem;

}
.divlearning{
  display: flex;
}
.learning{
  background-color:  hsl(47, 88%, 63%);
  padding: 0.5rem;
  font-weight: 700;
  border-radius: 0.3rem;

}

section{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  box-shadow: 1.5vw 1.5vw  black;
  border: 2px solid black;
  border-radius: 0.6rem;
}
.title:hover{
  color:  hsl(47, 88%, 63%);
  cursor: pointer;
}

.paragraph{
  color: hsl(0, 0%, 50%);
}

.author{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
}